/********************************Tag Selectors*******************************/

body {
  background-color: black;
}


hr {
  background-color: white;
  border-style: none;
  height: 2px;
}

h1 {
  color: #93FFD8;
}

h3 {
  color: #93FFD8;
}

p {
  color: #7DEDFF;
}

li {
  color: #7DEDFF;
}

td {
  color: #7DEDFF;
}

label {
  color: #7C83FD;
}

a {
  color: #00FFF0;
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: #10EAF0;
}

textarea {
  background-color: #7C83FD;
  border-style: none;
}

/********************************Class Selectors*****************************/

.contacter {
  background-color: #7DEDFF;
  border-style: none;
}

.submit1{
  background-color: #93FFD8;
  border-style: none;
  color: #00B4D8;
}

/********************************ID Selectors********************************/

#circular {
  border-radius: 100%;
}
